@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  color: #907e82;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.94;
  letter-spacing: 0.04em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden, .gallery__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-nav__button, .menu-container__button, .about__button {
  padding: 14px 37px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__button::after, .menu-container__button::after, .about__button::after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  margin-left: 12px;
  background-image: url(../images/Arrow1-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-nav__button:hover, .menu-container__button:hover, .about__button:hover, .main-nav__button:focus, .menu-container__button:focus, .about__button:focus {
  cursor: pointer;
  background-color: #ecebeb;
}

.hero__button--dark {
  padding: 14px 37px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d41443;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button--dark:hover, .hero__button--dark:focus {
  cursor: pointer;
  background-color: #c7133e;
}

.hero__button--light {
  padding: 14px 37px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button--light:hover, .hero__button--light:focus {
  cursor: pointer;
  background-color: #ecebeb;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.advantages {
  background-color: #fff5f6;
  padding-top: 39px;
  padding-bottom: 97px;
  padding-left: -5px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 66px;
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 39px;
    padding-bottom: 139px;
    padding-left: -11px;
  }
}

.advantages__secondary-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  font-family: Titan One;
  font-style: normal;
  color: #d41443;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .advantages__secondary-title {
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__secondary-title {
    font-size: 58px;
    line-height: 1.15;
  }
}

.advantages__text {
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.7em;
  letter-spacing: 0.01em;
  color: #000000;
  max-width: 230px;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.74em;
    max-width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
    max-width: 330px;
  }
}

.advantages__icon {
  fill: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .advantages__icon {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-right: 60px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.gallery {
  padding-bottom: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff5f6), color-stop(40%, #ffffff), color-stop(60%, #ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%, #ffffff 60%);
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 121px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-bottom: 123px;
  }
}

.gallery__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -2px;
}

@media screen and (min-width: 768px) {
  .gallery__set {
    margin-top: -4px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__set {
    margin-top: -8px;
  }
}

.gallery__column:not(:first-child) {
  margin-left: 2px;
}

@media screen and (min-width: 768px) {
  .gallery__column:not(:first-child) {
    margin-left: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__column:not(:first-child) {
    margin-left: 8px;
  }
}

.gallery__column:nth-child(1) {
  margin-top: 40px;
}

@media screen and (min-width: 480px) {
  .gallery__column:nth-child(1) {
    margin-top: 61px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__column:nth-child(1) {
    margin-top: 87px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__column:nth-child(1) {
    margin-top: 142px;
  }
}

.gallery__column:nth-child(2) {
  margin-top: 25px;
}

@media screen and (min-width: 480px) {
  .gallery__column:nth-child(2) {
    margin-top: 37px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__column:nth-child(2) {
    margin-top: 53px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__column:nth-child(2) {
    margin-top: 85px;
  }
}

.gallery__column:nth-child(4) {
  margin-top: 28px;
}

@media screen and (min-width: 480px) {
  .gallery__column:nth-child(4) {
    margin-top: 42px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__column:nth-child(4) {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__column:nth-child(4) {
    margin-top: 100px;
  }
}

.gallery__column:nth-child(5) {
  margin-top: 15px;
}

@media screen and (min-width: 480px) {
  .gallery__column:nth-child(5) {
    margin-top: 23px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__column:nth-child(5) {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__column:nth-child(5) {
    margin-top: 53px;
  }
}

.gallery__column:nth-child(6) {
  margin-top: 44px;
}

@media screen and (min-width: 480px) {
  .gallery__column:nth-child(6) {
    margin-top: 67px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__column:nth-child(6) {
    margin-top: 95px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__column:nth-child(6) {
    margin-top: 153px;
  }
}

.gallery__img {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .gallery__img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__img {
    margin-top: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__img {
    margin-top: 8px;
  }
}

.gallery__img--skale:hover, .gallery__img--skale:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .gallery__img--big {
    width: 120px;
    height: 120px;
  }
}

.scene {
  -webkit-perspective: 600px;
          perspective: 600px;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 480px) {
  .scene {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .scene {
    width: 85px;
    height: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .scene {
    width: 139px;
    height: 139px;
  }
}

.card {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.card .gallery__img {
  margin-top: 0;
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 5px;
}

@media screen and (min-width: 480px) {
  .card__face {
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {
  .card__face {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .card__face {
    border-radius: 15px;
  }
}

.card__face--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.scene:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.gallery__btn {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: linear-gradient(160deg, #00c4ff, #9d1bb2);
  cursor: pointer;
}

.gallery__card-text {
  display: none;
  color: #ffffff;
  font-size: 10px;
  margin-bottom: 3px;
}

@media screen and (min-width: 480px) {
  .gallery__card-text {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .gallery__card-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__card-text {
    font-size: 20px;
  }
}

.gallery__icon {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .gallery__icon {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__icon {
    width: 80px;
    height: 80px;
  }
}

/* // $bg-color-customer-review: #fafafa; - фон за текстом отзыва
// $text-color-contrast-dark: #000000; - цвет текста
// $text-color-accent-strong: #d41443; - цвет fill иконки прокрутки
// $bg-color-cust-review-quotes: #E1E1E1; - цвет кавычек (псевдоэлемента) */
.customer-reviews {
  padding-top: 80px;
  padding-bottom: 86px;
}

.reviewer__photo {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.reviewer__comment {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .reviewer__comment {
    width: 620px;
    padding: 47px 80px 34px 80px;
  }
}

@media screen and (min-width: 1200px) {
  .reviewer__comment {
    width: 926px;
    padding: 47px 89px 39px 89px;
  }
}

.reviewer__comment::after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 61px;
  top: 28px;
  width: 54px;
  height: 40px;
  background-image: url(../images/quotation-marks.svg);
}

.reviewer__text {
  position: relative;
  z-index: 3;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: #000000;
  text-align: center;
  background-image: repeating-linear-gradient(transparent, transparent 27px, #e1e1e1 29px);
}

@media screen and (min-width: 768px) {
  .reviewer__text {
    font-size: 14px;
    line-height: 2.16;
  }
}

@media screen and (min-width: 1200px) {
  .reviewer__text {
    font-size: 16px;
    line-height: 1.86;
  }
}

.reviewer__name {
  position: relative;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  margin-top: 50px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .reviewer__name {
    font-size: 16px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1200px) {
  .reviewer__name {
    font-size: 20px;
    line-height: 1.86;
  }
}

.reviewer__name::before {
  content: '';
  display: block;
  position: absolute;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  right: 50%;
  top: -50%;
  width: 32px;
  height: 4px;
  background-image: url(../images/review-points.svg);
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease, -webkit-transform 0.6s ease;
  transition: background-color 0.6s ease, -webkit-transform 0.6s ease;
  transition: background-color 0.6s ease, transform 0.6s ease;
  transition: background-color 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}

.dot:hover, .dot:focus {
  border-radius: 50%;
  background-color: #d31342;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.dot.active {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 0;
}

.dot.active:hover, .dot.active:focus {
  background-color: transparent;
  border-radius: 0;
}

.slider-nav {
  text-align: center;
  margin-top: 30px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.page-header {
  background-color: #ffb8ca;
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 38px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__button {
  display: none;
  border: none;
  max-width: 160px;
  margin-top: 0;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .main-nav__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__button {
    margin-left: 110px;
    position: relative;
    z-index: 3;
  }
}

.menu-button {
  border: none;
  background-color: transparent;
  fill: #d41443;
}

.menu-button:hover {
  fill: #ffb8ca;
}

@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    position: relative;
    z-index: 3;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Titan One;
  font-size: 26px;
  line-height: calc(30 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-right: auto;
}

.logo__icon {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1199px) {
  .menu-container {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #e17992;
    overflow-y: scroll;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-container__button-close {
    display: block;
    background-color: transparent;
    border: none;
    margin-left: auto;
    padding: 0;
  }
}

.menu-container__button {
  border: none;
  width: 100%;
  margin-top: 23px;
}

.menu-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 19px;
}

@media screen and (min-width: 1200px) {
  .menu-wrapper {
    display: none;
  }
}

.site-nav {
  display: block;
  width: 100%;
  margin-bottom: -22px;
}

.site-nav__item {
  border-top: 1px solid #e18298;
  padding-right: 20px;
  padding-left: 20px;
}

.site-nav__item:last-child {
  border-bottom: 1px solid #e18298;
}

@media screen and (min-width: 1200px) {
  .site-nav__item {
    border: none;
    padding: 0;
    margin-right: 35px;
  }
  .site-nav__item:last-child {
    border: none;
  }
}

.site-nav__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #ffffff;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link :focus {
  color: #d41443;
}

@media screen and (min-width: 1200px) {
  .site-nav__link {
    font-size: 16px;
    line-height: calc(21 / 16);
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3;
  }
}

.is-active {
  color: #d41443;
}

.desctop-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  background-color: #ffb8ca;
  padding-top: 137px;
  padding-bottom: 160px;
  background-image: url("..//images/hero-icecream-1x-min.png"), radial-gradient(circle at center, #ffa5ba 70%, transparent 70%);
  background-repeat: no-repeat;
  background-position: bottom 0 right 32px, bottom 75px right -62px;
  background-size: 171px 410px, 345px 345px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("..//images/hero-icecream-2x-min.png"), radial-gradient(circle at center, #ffa5ba 70%, transparent 70%);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    background-image: none;
    padding-top: 12px;
    padding-bottom: 28px;
  }
  .hero::before {
    display: none;
    -webkit-animation: zoomIn;
            animation: zoomIn;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .hero::before {
    content: '';
    display: block;
    width: 324px;
    height: 322px;
    background-color: #ffa5ba;
    border-radius: 50%;
    position: absolute;
    bottom: 46px;
    left: 45%;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero::before {
    width: 538px;
    height: 538px;
    bottom: 75px;
    left: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: none;
    padding-top: 89px;
    padding-bottom: 45px;
  }
}

.hero__title {
  font-family: Titan One;
  font-size: 26px;
  line-height: calc(26 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: calc(25 / 22);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 38px;
    line-height: calc(44 / 38);
  }
}

.hero__title--red {
  font-size: 48px;
  line-height: calc(46 / 48);
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .hero__title--red {
    font-size: 34px;
    line-height: calc(31 / 34);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title--red {
    font-size: 58px;
    line-height: calc(52 / 58);
  }
}

.hero__button {
  font-family: DM Sans;
  font-size: 8px;
  line-height: calc(10 / 8);
  border: none;
  padding: 7px 14px;
}

@media screen and (min-width: 1200px) {
  .hero__button {
    font-size: 14px;
    line-height: calc(18 / 14);
    padding: 12px 19px;
  }
}

.hero-icecream-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-icecream-image {
    display: block;
    position: absolute;
    width: 143px;
    height: 336px;
    bottom: 0;
    left: 53%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-icecream-image {
    width: 236px;
    height: 557px;
    left: 47%;
  }
}

.hero-girl-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-girl-image {
    display: block;
    position: absolute;
    width: 186px;
    height: 133px;
    bottom: 0;
    left: 74%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-girl-image {
    width: 293px;
    height: 232px;
    left: 74%;
  }
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -8px;
}

.button-list__item {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content__item {
    margin-left: 55px;
  }
}

.outlets {
  display: none;
}

@media screen and (min-width: 768px) {
  .outlets {
    display: block;
    margin-left: auto;
    margin-bottom: -13px;
  }
  .outlets__item {
    display: block;
    margin-bottom: 13px;
    position: relative;
  }
  .outlets__item--big {
    position: relative;
    z-index: 2;
    display: block;
    font-family: Titan One;
    font-size: 28px;
    line-height: calc(32 / 28);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    text-align: right;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .outlets__item--big {
    font-size: 46px;
    line-height: calc(53 / 46);
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 768px) {
  .outlets__item--small {
    display: block;
    font-family: DM Sans;
    font-size: 8px;
    line-height: calc(10 / 8);
    color: #ffffff;
    text-align: right;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .outlets__item--small {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

@media screen and (min-width: 768px) {
  .outlets__description {
    padding-top: 2px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
  }
  .outlets__description::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .outlets__description::before {
    width: 30px;
    height: 30px;
  }
}

.view-more {
  display: none;
}

@media screen and (min-width: 768px) {
  .view-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .view-more {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .view-more__description {
    padding-top: 47px;
    max-width: 114px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .view-more__description {
    max-width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .view-more__paragraph {
    font-family: DM Sans;
    font-size: 8px;
    line-height: calc(12 / 8);
    color: #ffffff;
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .view-more__paragraph {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}

@media screen and (min-width: 768px) {
  .view-more__button {
    border: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .view-more__img {
    width: 124px;
    height: 126px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .view-more__img {
    width: 188px;
    height: 191px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.products__section {
  background: #ffffff;
  font-family: 'Titan One', cursive;
  padding: 127px 0 119px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products__sub-title {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.products__title {
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 10px;
}

.products__wrappper {
  max-width: 1048px;
  margin: 259px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__block {
  width: 329px;
  padding: 163px 0 50px;
  text-align: center;
  position: relative;
}

.products__block:first-child {
  background: #ffb8ca;
  border-radius: 24px;
}

.products__block:nth-child(2) {
  background: #f0d1a5;
  border-radius: 24px;
}

.products__block:last-child {
  background: #c2e297;
  border-radius: 24px;
}

.products__block-title {
  position: relative;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 38px;
  padding-bottom: 32px;
}

.products__block-title::after {
  content: '';
  width: 26px;
  height: 6px;
  background: url(../images/products/Points.png) no-repeat center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.products__block-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0 40px 62px;
}

.products__block-link {
  display: block;
  width: 40px;
  height: 40px;
  background: #ffffff url(../images/products/arrow-right.svg) no-repeat center;
  margin: 0 auto;
  border-radius: 50%;
}

.products__block-link:hover {
  opacity: 0.8;
}

.products__block-img-first {
  background: url(../images/products/desctop/desk-1.png) no-repeat center;
  position: absolute;
  width: 335px;
  height: 335px;
  top: -70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products__block-img-second {
  background: url(../images/products/desctop/desk-2.png) no-repeat center;
  position: absolute;
  width: 335px;
  height: 335px;
  top: -70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products__block-img-third {
  background: url(../images/products/desctop/desk-3.png) no-repeat center;
  position: absolute;
  width: 335px;
  height: 335px;
  top: -70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* media */
@media (max-width: 980px) {
  .products__block {
    width: 220px;
    padding: 152px 0 40px;
  }
  .products__block-img-first {
    background: url(../images/products/tab/tab-1.png) no-repeat center;
    width: 220px;
    height: 226px;
    top: -35px;
  }
  .products__block-img-second {
    background: url(../images/products/tab/tab-2.png) no-repeat center;
    width: 220px;
    height: 226px;
    top: -35px;
  }
  .products__block-img-third {
    background: url(../images/products/tab/tab-3.png) no-repeat center;
    width: 220px;
    height: 226px;
    top: -35px;
  }
  .products__block-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .products__block-text {
    font-size: 14px;
    line-height: 25px;
    margin: 0 11px 40px;
  }
}

@media (max-width: 767px) {
  .products__section {
    padding: 121px 0 98px;
  }
  .products__sub-title {
    font-size: 18px;
    line-height: 21px;
  }
  .products__title {
    font-size: 34px;
    line-height: 39px;
  }
  .products__wrappper {
    margin: 144px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products__block {
    width: 280px;
  }
  .products__block:not(:last-child) {
    margin-bottom: 130px;
  }
  .products__block-img-first {
    background: url(../images/products/mob/mob-1.png) no-repeat center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -115px;
    width: 249px;
    height: 252px;
  }
  .products__block-img-second {
    background: url(../images/products/mob/mob-2.png) no-repeat center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -115px;
    width: 249px;
    height: 252px;
  }
  .products__block-img-third {
    background: url(../images/products/mob/mob-3.png) no-repeat center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -115px;
    width: 249px;
    height: 252px;
  }
  .products__block-text {
    font-size: 14px;
    line-height: 21px;
    margin: 0 39px 41px;
  }
}

.contacts {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(7%, #e5e5e5), color-stop(0, #fff5f6));
  background-image: linear-gradient(180deg, #e5e5e5 7%, #fff5f6 0);
  padding-bottom: 113px;
}

@media screen and (min-width: 768px) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #e5e5e5), color-stop(0, #fff5f6));
    background-image: linear-gradient(180deg, #e5e5e5 8%, #fff5f6 0);
  }
}

.contact__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__section .contact__commoncard {
  margin-bottom: 53px;
}

@media screen and (min-width: 768px) {
  .contact__section .contact__commoncard {
    margin-bottom: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .contact__section .contact__commoncard {
    margin-bottom: 86px;
  }
}

.contact-card__block {
  width: 220px;
  height: 427px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 43px 20px;
  background: #ffffff;
  margin: 20px 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .contact-card__block {
    margin: 0 10px;
    height: 544px;
    padding: 50px 30px;
  }
  .contact-card__block:hover, .contact-card__block:focus {
    -webkit-box-shadow: 1px 2px 2px rgba(109, 94, 94, 0.12), 1px 4px 6px rgba(105, 89, 89, 0.16);
            box-shadow: 1px 2px 2px rgba(109, 94, 94, 0.12), 1px 4px 6px rgba(105, 89, 89, 0.16);
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .contact-card__block {
    width: 330px;
    height: 572px;
    margin: 0 15px;
  }
  .contact-card__block:hover, .contact-card__block:focus {
    -webkit-box-shadow: 1px 2px 2px rgba(109, 94, 94, 0.12), 1px 4px 6px rgba(105, 89, 89, 0.16);
            box-shadow: 1px 2px 2px rgba(109, 94, 94, 0.12), 1px 4px 6px rgba(105, 89, 89, 0.16);
    cursor: pointer;
  }
}

.contact-card__block .contact-card__title {
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 8,45;
  letter-spacing: .04em;
  color: #ffffff;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .contact-card__block .contact-card__title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-card__block .contact-card__title {
    margin-bottom: 32px;
  }
}

.contact-card__block .contname {
  background-color: #f0d1a5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contact-card__block .contnamegreen {
  background-color: #C2E297;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contact-card__block .contact__title {
  margin-bottom: 10px;
  text-align: left;
  font-weight: 500;
  letter-spacing: .04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .contact-card__block .contact__title {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-card__block .contact__title {
    line-height: 30px;
    margin-bottom: 10px;
  }
}

.contact-card__block .contact__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  color: #907e82;
  margin-bottom: 25px;
  text-align: left;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contact-card__block .contact__text {
    padding-bottom: 30px;
    margin-bottom: 30px;
    line-height: 23px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-card__block .contact__text {
    padding-bottom: 32px;
    margin-bottom: 32px;
    line-height: 29px;
    font-size: 16px;
  }
}

.contact__list {
  text-align: left;
  font-size: 12px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contact__list {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    font-size: 16px;
    line-height: 30px;
  }
}

.contact__list .contact__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contact__list .contact__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list .contact__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contact__list li {
  list-style: none;
}

.contact__list .contact__days {
  color: #000000;
  margin: 0;
}

.contact__list .contact__time {
  color: #ffa5ba;
  margin: 0;
}

.contact-nav__list {
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .contact-nav__list {
    line-height: 26px;
  }
}

.contact-nav__list li {
  list-style: none;
}

.contact-nav__list .contact-nav__item {
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: 12px;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contact-nav__list .contact-nav__item {
    font-size: 14px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-nav__list .contact-nav__item:hover, .contact-nav__list .contact-nav__item:focus {
    cursor: pointer;
    color: #c2e297;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-nav__list .contact-nav__item {
    font-size: 16px;
  }
}

.contact-button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .contact-button__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-button__list .contact-btn__item {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contact-button__list .contact-btn__item {
    margin-bottom: 0;
  }
  .contact-button__list .contact-btn__item:not(:last-child) {
    margin-left: 15px;
  }
}

.contact-button__list .contact-btn__item .contact__btn-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  background-color: #D41342;
  color: #ffffff;
  fill: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact-button__list .contact-btn__item .contact__btn-red {
    width: 191px;
    line-height: 4,76px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-button__list .contact-btn__item .contact__btn-red {
    width: 198px;
    line-height: 4,76px;
  }
}

.contact-button__list .contact-btn__item .contact__btn-red:hover, .contact-button__list .contact-btn__item .contact__btn-red:focus {
  background-color: #f7174f;
}

.contact-button__list .contact-btn__item .contact__btn-red .contact__icon {
  margin-left: 11px;
}

.contact-button__list .contact-btn__item .contact__btn-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
  color: #D41342;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,83px;
  border: none;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact-button__list .contact-btn__item .contact__btn-white {
    width: 191px;
    line-height: 4,76px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-button__list .contact-btn__item .contact__btn-white {
    width: 198px;
    line-height: 4,76px;
  }
}

.contact-button__list .contact-btn__item .contact__btn-white:hover, .contact-button__list .contact-btn__item .contact__btn-white:focus {
  background-color: #ECEBEB;
}

.contact-button__list .contact-btn__item .contact__btn-white .contact__icon {
  margin-left: 11px;
}

#footer {
  background-color: #fff5f6;
}

.footer__container {
  width: 250px;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    width: auto;
  }
}

.footer__text {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 26px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__text {
    font-size: 30px;
    margin-bottom: 17px;
  }
}

.footer__text--accent {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .footer__text--accent {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__text--accent {
    font-size: 58px;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.social-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}

.social-links__items {
  height: 32px;
  width: 32px;
  height: 34px;
}

@media screen and (min-width: 768px) {
  .social-links__items {
    height: 34px;
    width: 34px;
  }
}

.social-links__items:not(:last-child) {
  margin-right: 28px;
}

.social-links__link {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffa5ba;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #d41443;
}

.social-links__icon {
  fill: #ffffff;
}

.contact__text {
  color: #000000;
  text-align: right;
  font-size: 12px;
  line-height: 1.86;
  font-weight: 700;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__text {
    font-size: 16px;
  }
}

.contact__tel {
  color: #d41443;
}

.footer__rights {
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .footer__rights {
    padding-top: 29px;
    padding-bottom: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__rights {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.right__text {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
}

@media screen and (min-width: 768px) {
  .right__text {
    line-height: 1.87;
  }
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.about {
  background-color: #fff5f6;
}

.about__button {
  border: none;
  width: 176px;
  height: 44px;
}

.about__label {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  .about__label {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 25px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    margin-bottom: 50px;
    width: 439px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 58px;
    width: 534px;
  }
}

.description__first {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .description__first {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .description__first {
    font-size: 16px;
  }
}

.description__second,
.description__third {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .description__second,
  .description__third {
    font-size: 14px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1200px) {
  .description__second,
  .description__third {
    line-height: 1.94;
  }
}

.description__second {
  margin-bottom: 10px;
}

.description__third {
  margin-bottom: 17px;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../images/about-bgMilk-mob-1x-min.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .description {
    background-image: url("../images/about-bgMilk-mob-2x-min.png");
  }
}

@media screen and (min-width: 768px) {
  .description {
    margin-top: 50px;
    background-image: none;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    padding-right: 117px;
  }
}

.about__wrap {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about__wrap {
    background-image: url("../images/about-bgMilk-1x-min.png");
    background-size: 100%;
    background-position-y: center;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__wrap {
    background-image: url("../images/about-bgMilk-2x-min.png");
  }
}

.about__img {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
}

@media screen and (min-width: 768px) {
  .about__img {
    max-width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .about__img {
    min-width: 516px;
  }
}

.modal, .modal-gallery {
  position: relative;
  max-width: 450px;
  min-height: 620px;
  left: 50%;
  top: 50%;
  background-color: #ec8ba3;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .modal, .modal-gallery {
    max-width: 500px;
  }
}

.modal__btn-close, .modal-gallery__btn-close {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover, .modal-gallery__btn-close:hover, .modal__btn-close:focus, .modal-gallery__btn-close:focus {
  border-color: #ffffff;
  background-color: #E17992;
}

.modal__icon-close {
  fill: #D41443;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .modal__icon-close, .modal-gallery__btn-close:hover .modal__icon-close,
.modal__btn-close:focus .modal__icon-close,
.modal-gallery__btn-close:focus .modal__icon-close {
  fill: #ffffff;
}

.modal-form {
  max-width: 370px;
  height: 342px;
}

@media screen and (min-width: 1200px) {
  .modal-form {
    max-width: 448px;
  }
}

.modal-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 12px;
}

.form-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input:focus-within > .form-input__icon-contact {
  fill: #D41443;
}

.form-input:focus-within > .form-input__text {
  color: #D41443;
}

.form-input textarea {
  height: 80px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.form-input__text {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover .form-input__text,
.form-input:focus .form-input__text {
  color: #D41443;
}

.form-input__icon-contact {
  fill: #ffffff;
  position: absolute;
  left: 12px;
  bottom: 21px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover .form-input__icon-contact,
.form-input:focus .form-input__icon-contact {
  fill: #D41443;
}

.form-input__type {
  width: 100%;
  height: 38px;
  color: #ffffff;
  background-color: #E17992;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 20px;
  outline: none;
  resize: none;
  margin-bottom: 10px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input__type:hover, .form-input__type:focus {
  border: 1px solid #D41443;
}

textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #ffffff;
}

textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #ffffff;
}

textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #ffffff;
}

textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.form-icecream {
  margin-bottom: 12px;
}

.form-icecream-checkbox:checked + .form-icecream-checkbox__icecream > .form-icecream-checkbox__icon {
  background-color: #D41443;
  border: transparent;
}

.form-icecream-checkbox__icecream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 5px;
}

.form-icecream-checkbox__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #D41443;
  border-radius: 50%;
  margin-right: 7px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icecream,
.form-icecream-checkbox__link {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-icecream,
  .form-icecream-checkbox__link {
    font-size: 14px;
  }
}

.form-icecream__modal-btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  color: #D41443;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-icecream__modal-btn:hover, .form-icecream__modal-btn:focus {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #E17992;
}

.modal-gallery {
  min-height: 200px;
  opacity: 1;
  background: -webkit-gradient(linear, left top, right top, from(#feac5e), color-stop(#c779d0), to(#4bc0c8));
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-gallery {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

@media screen and (max-width: 480px) {
  .modal-gallery {
    max-width: 80vw;
  }
}

@media screen and (min-width: 480px) {
  .modal-gallery {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .modal-gallery {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-gallery {
    max-width: 500px;
  }
}

.modal-gallery__btn-close {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-gallery__btn-close:hover, .modal-gallery__btn-close:focus {
  background-color: #383737;
}

.modal-gallery__icon-close {
  fill: #d41443;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-gallery__btn-close:hover .modal-gallery__icon-close,
.modal-gallery__btn-close:focus .modal-gallery__icon-close {
  fill: #ffffff;
  background-color: #383737;
}

.modal-gallery__box {
  display: block;
  width: 100%;
  margin-bottom: 3px;
}

.modal-gallery__text, .modal-gallery__promocode {
  display: block;
  padding: 20px;
  background: #383737;
  color: #f8ecf6;
  line-height: 1.1;
  text-shadow: 1px 1px #ff0303, 2px 2px #9ac75e, 3px 3px #3d95e7, 4px 4px #c907a8;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .modal-gallery__text, .modal-gallery__promocode {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-gallery__text, .modal-gallery__promocode {
    font-size: 25px;
  }
}

.modal-gallery__promocode {
  padding: 30px;
  margin-top: 10px;
  border: 4px dashed #ffffff;
  background: #f9c941;
  color: #f9c941;
  letter-spacing: 2px;
  text-shadow: 1px 1px #000000, -1px -1px #56433d;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .modal-gallery__promocode {
    padding: 12px;
  }
}
/*# sourceMappingURL=main.css.map */