@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  box-sizing: border-box;
  background-color: #e5e5e5;
  color: #907e82;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.94;
  letter-spacing: 0.04em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.example, .gallery {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code, .gallery code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background, .gallery .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

h2 {
  margin: 0;
}

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: linear-gradient(to bottom, #fff5f6 50%, #ffffff 50%);
}

.gallery__title {
  display: inline-block;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.gallery__img {
  display: block;
  margin-top: 15px;
  max-width: 100%;
}

.about {
  background-color: #fff5f6;
}

.about__button {
  padding: 14px 37px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  transition: bachround-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  margin-left: 12px;
  background-image: url(../images/Arrow1-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about__label {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.about__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.about__img {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .about__img {
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    width: 516px;
  }
}

.description__first {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  margin-bottom: 20px;
}

.description__second,
.description__third {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
}

.description__second {
  margin-bottom: 10px;
}

.description__third {
  margin-bottom: 17px;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 40px;
  background-image: url("../images/about-bgMilk-mob-1x-min.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 150px;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */