$bg-color-main: #ffffff;
$bg-color-second: #fff5f6;
$bg-color-hero: #ffb8ca;
$bg-color-hero-second: #ffa5ba;
$bg-color-product-1: #ffb8ca;
$bg-color-product-2: #f0d1a5;
$bg-color-product-3: #c2e297;
$bg-color-customer-review: #fafafa;
$bg-color-cust-review-quotes: #e1e1e1;
$bg-color-contact-1: #f0d1a5;
$bg-color-contact-2: #c2e297;
$bg-color-mob-menu: #e17992;

$text-color-main: #907e82;
$text-color-accent-strong: #d41443;
$text-color-accent-light: #ffa5ba;
$text-color-contrast-light: #ffffff;
$text-color-contrast-dark: #000000;

$btn-bg-dark: #d41443;
$btn-bg-light: #ffffff;
$btn-text-dark: #d41443;
$btn-text-light: #ffffff;
$btn-light-accent: #ecebeb;
$btn-dark-accent: #c7133e;

$line-color-mob-menu: #e18298;
$line-color-footer: #e1e1e1;

$shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
