<section class="about">
    <div class="container"
     <p class="about__label">tradition and love</p>
     <h2 class="about__title">how it’s made?</h2>
     <img class="about__img"
      srcset="./images/about-cow-1x-min.png 1x,
              ./images/about-cow-2x-min.png 2x, 
              ./images/about-cow-tab-1x-min.png 1x,
              ./images/about-cow-tab-2x-min.png 2x, 
              ./images/about-cow-mob-1x-min.png 1x,
              ./images/about-cow-mob-2x-min.png 2x" 
              src="./images/about-cow-1x-min.png" alt="cow and milk">
   <div class="description">
       <p class="description__first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
       <p class="description__second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
           </p>
       <p class="description__third">Aliquam erat volutpat. Aenean accumsan.</p>
   </div>  
   <button type="submit" class="about__button">Подписаться <svg class="about__svg">
            <use href="./images/icon-sprite.svg#iconArrow1"></use>
        </svg>
        </button>
    </div>
</section>