<section id="advantages" class="advantages">
  <div class="container">
    <h2 class="advantages__main-title visually-hidden">Our advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages__fone">
          <svg class="advantages__icon" width="33" height="50">
            <use href="./images/icon-sprite.svg#iconBucket"></use>
          </svg>
        </div>
        <h3 class="advantages__secondary-title">721</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__fone">
          <svg class="advantages__icon" width="50" height="50">
            <use href="./images/icon-sprite.svg#iconApples"></use>
          </svg>
        </div>
        <h3 class="advantages__secondary-title">16kg</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__fone">
          <svg class="advantages__icon" width="44" height="50">
            <use href="./images/icon-sprite.svg#iconHeart"></use>
          </svg>
        </div>
        <h3 class="advantages__secondary-title">84</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
