  
<div class="container">
    <h2 class="contacts visually-hidden">Contacts</h2>
    <div class="contacts-main-section">
        <div class="contact__section">
            <div class="contact-card__block">
                <p class="contact-card__title"> CAFE</p>
           
                <p class="contact__title">Chicago </p>
                <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
             
                   <ul class="contact__list">
                        <li class="contact__item" >
                             <p class="contact__days"> Monday - Friday</p>
                             
                             <time class="contact__time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact__item" >
                             <p class="contact__days">Saturday - Sunday</p>
                             <time class="contact__time">08:00 AM - 16:00 PM</time> 
                         </li>
                   </ul>

                    <ul class="contact-nav__list">
                        <li> 
                         <a class="contact-nav__item" href="+61(0) 383 766 284">+61(0) 383 766 284</a>
                        </li>
                         <li>
                         <a class="contact-nav__item" href="noreply@envato.com">noreply@envato.com</a>
                         </li>
                   </ul> 
            </div>


            <div class="contact-card__block">
                <p class="contact-card__title">FOOD TRUCK </p>
           
                <p class="contact__title"> Los Angeles</p>
                <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
             
                   <ul class="contact__list">
                        <li class="contact__item" >
                             <p class="contact__days"> Monday - Friday</p>
                             <time class="contact__time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact__item" >
                             <p class="contact__days">Saturday - Sunday</p>
                             <time class="contact__time">08:00 AM - 16:00 PM</time> 
                         </li>
                   </ul>

                    <ul class="contact-nav__list">
                        <li> 
                         <a class="contact-nav__item" href="+61(0) 383 766 284">+61(0) 383 766 284</a>
                        </li>
                         <li>
                         <a class="contact-nav__item" href="noreply@envato.com">noreply@envato.com</a>
                         </li>
                   </ul> 
            </div>

            <div class="contact-card__block">
                <p class="contact-card__title"> CAFE</p>
           
                <p class="contact__title">New York </p>
                <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
             
                   <ul class="contact__list">
                        <li class="contact__item" >
                             <p class="contact__days"> Monday - Friday</p>
                             
                             <time class="contact__time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact__item" >
                             <p class="contact__days">Saturday - Sunday</p>
                             <time class="contact__time">08:00 AM - 16:00 PM</time> 
                         </li>
                   </ul>

                    <ul class="contact-nav__list">
                        <li> 
                         <a class="contact-nav__item" href="+61(0) 383 766 284">+61(0) 383 766 284</a>
                        </li>
                         <li>
                         <a class="contact-nav__item" href="noreply@envato.com">noreply@envato.com</a>
                         </li>
                   </ul> 
            </div>

           
            <ul class="contact-button__list">
                <li class="contact-btn__item">
                   <button class="contact__btn">
                    <svg class="advantages__icon" width="4.5" height="8">
                        <use href="../images/Arrow2.svg"></use>
                    </svg>
                    
                    Our Locations


                   </button>
                </li>
                <li class="contact-btn__item">
                    <button class="contact__btn" type="button">
                        <svg class="advantages__icon" width="4.5" height="8">
                            <use href="../images/Arrow1-light.svg"></use>
                        </svg>

                        Franchise

                    </button>
                </li>
            </ul>

        </div>

    </div>
    </div>