  
<div>
    <h2 class="contacts">Contacts</h2>
    <div class="contacts-main__section">
        <div class="contact-card__section">
            <h3 class="contact-card__title"></h3>
            <ul class="contact-list">
                <li class="contact-item">
                   <h4 class="contact-title"></h4>
                   <p class="contact-text"></p>
                </li>
                <li class="contact-item" >
                    <h4 class="contact-title"></h4>
                    <p class="contact-text"></p>
                </li>
                <li class="contact-item" >
                    <h4 class="contact-title"></h4>
                    <p class="contact-text"></p>
                </li>
            </ul>

            <ul class="contact-nav__list">
                <li> 
                    <a class="contact-nav__item" href=""></a>
                </li>
                <li>
                    <a class="contact-nav__item" href=""></a>
                </li>
            </ul> 
            
            <ul class="contact-button__list">
                <li class="contact-btn__item">
                   <button class="contact-btn">


                   </button>
                </li>
                <li class="contact-btn__item">
                    <button class="contact-btn">

                    </button>
                </li>
            </ul>

        </div>




    </div>
    </div>