<section class="customer-reviews">
  <div class="container">
    <article class="mySlides fade">
      <div class="reviewer">
        <img
          class="reviewer__photo"
          srcset="./images/review-1-1x.jpg 1x, ./images/review-1-2x.jpg 2x"
          src="./images/review-1-1x.jpg"
          alt="Smiley
          girl with afro"
        />
        <div class="reviewer__comment">
          <p class="reviewer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="reviewer__name">Emily, Los Angeles</h3>
      </div>
    </article>

    <article class="mySlides fade">
      <div class="reviewer">
        <img
          class="reviewer__photo"
          srcset="./images/review-2-1x.jpg 1x, ./images/review-2-2x.jpg 2x"
          src="./images/review-2-1x.jpg"
          alt="Smiley
          girl with afro"
        />
        <div class="reviewer__comment">
          <p class="reviewer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <h3 class="reviewer__name">Rose, New-York</h3>
    </article>

    <article class="mySlides fade">
      <div class="reviewer">
        <img
          class="reviewer__photo"
          srcset="./images/review-3-1x.jpg 1x, ./images/review-3-2x.jpg 2x"
          src="./images/review-3-1x.jpg"
          alt="Smiley
          girl with afro"
        />
        <div class="reviewer__comment">
          <p class="reviewer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="reviewer__name">Viola, Washington</h3>
      </div>
    </article>
    <div class="slider-nav">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
</section>
