<section class="slider">
  <div class="container">
    <!-- first girl -->

    <img
      class="reviewer__photo"
      srcset="./images/review-1-1x.jpg 1x, ./images/review-1-2x.jpg 2x"
      src="./images/review-1-1x.jpg"
      alt="Smiley
    girl with afro"
    />
    <p class="reviewer__comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <h3>Emily, Los Angeles</h3>

    <!-- second girl -->

    <!-- <img
      class="reviewer-photo"
      srcset="./images/review-2-1x.jpg 1x, ./images/review-2-2x.jpg 2x"
      src="./images/review-2-1x.jpg"
      alt="Short hair girl"
    />
    <p class="reviewer__comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p> 
    <h3>Rose, New-york</h3>
    -->

    <!-- third girl -->

    <!-- <img class="reviewer-photo"
      srcset="./images/review-3-1x.jpg 1x, ./images/review-3-2x.jpg 2x"
      src="./images/review-3-1x.jpg"
      alt="Girl
    with galsess" />
    <p class="reviewer__comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p> 
    <h3>Viola, Washington</h3>
    -->
  </div>
</section>
