<footer id="footer">

    <div class="container footer__wrapper ">
        <div class="footer__container">
            <p class="footer__text">homemade ice cream made</p>
            <p class="footer__text--accent">with passion</p>
        </div>
            
        <div class="footer__container--flex-side">
            <ul class="social-links__list">
                <li class="social-links__items">
                    <a href="https://github.com/yuliaeremina93/team-project-ice-cream" target="_blank" rel="noreferrer noopener"
                        class="social-links__link">
                        <svg class="social-links__icon" width="32" height="32">
                            <use href="./images/icon-sprite.svg#iconGithub"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-links__items">
                    <a href="https://t.me/joinchat/ZcbuVaGZceIzOWYy" target="_blank" rel="noreferrer noopener"
                        class="social-links__link">
                        <svg class="social-links__icon" width="32" height="32">
                            <use href="./images/icon-sprite.svg#iconTelegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-links__items">
                    <a href="https://www.facebook.com/myicecreamlove/" target="_blank" rel="noreferrer noopener"
                        class="social-links__link">
                        <svg class="social-links__icon" width="32" height="32">
                            <use href="./images/icon-sprite.svg#iconFacebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            
            <p class="contact__text">
                Feel free to contact <a href="#" class="contact__tel">
                    +61(0)383 766 284
                </a>
            </p>
        </div>

    </div>

    <div class="footer__rights">
        <p class="right__text">
            &copy; 2019 - IceCream.
        </p>
        <p class="right__text">
            All Rights Reserved.
        </p>
    </div>

</footer>