<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Photo gallery</h2>
    <ul class="gallery__set">
      <li class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img1-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img1-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img1-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img1-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img1-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img1-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img1-mob@1x.png"
            alt=""
          />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img2-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img2-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img2-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img2-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img2-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img2-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img2-mob@1x.png"
            alt=""
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img3-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img3-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img3-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img3-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img3-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img3-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img3-mob@1x.png"
            alt=""
          />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img4-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img4-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img4-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img4-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img4-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img4-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img gallery__img--big"
            src="./images/gallery/mob/mob-1x/gallery-img4-mob@1x.png"
            alt=""
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img5-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img5-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img5-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img5-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img5-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img5-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img5-mob@1x.png"
            alt=""
          />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img6-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img6-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img6-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img6-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img6-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img6-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img6-mob@1x.png"
            alt=""
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img7-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img7-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img7-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img7-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img7-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img7-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img7-mob@1x.png"
            alt=""
          />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img8-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img8-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img8-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img8-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img8-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img8-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img8-mob@1x.png"
            alt=""
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img9-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img9-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img9-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img9-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img9-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img9-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img9-mob@1x.png"
            alt=""
          />
        </picture>
      </li>
      <li class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/gallery/desk/desk-1x/gallery-img10-desk@1x.png 1x,
              ./images/gallery/desk/desk-2x/gallery-img10-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/tab-1x/gallery-img10-tab@1x.png 1x,
              ./images/gallery/tab/tab-2x/gallery-img10-tab@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <source
            srcset="
              ./images/gallery/mob/mob-1x/gallery-img10-mob@1x.png 1x,
              ./images/gallery/mob/mob-2x/gallery-img10-mob@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/mob-1x/gallery-img10-mob@1x.png"
            alt=""
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
