<header class="page-header">
  <div class="container">
    <nav class="site-nav">
      <a href="/" class="site-nav__item logo">
        <svg class="logo__icon">
          <use href="../src/images/icon-sprite.svg#iconLogo"></use>
        </svg>
        <span>Icecream</span>
      </a>
      <a href="/" class="site-nav__item">Home</a>
      <a href="/" class="site-nav__item">About us</a>
      <a href="/" class="site-nav__item">How it’s made?</a>
      <a href="/" class="site-nav__item">Our products</a>
      <a href="/" class="site-nav__item">Contact</a>
    </nav>
    <button type="button">Buy now</button>
  </div>
</header>
<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button type="hero__button">Products</button>
    <button type="hero__button">How it’s made?</button>
  </div>
</section>
