<header class="page-header">
  <div class="container">
    <nav class="site-nav">
      <a href="/" class="site-nav__item logo">
        <svg class="logo__icon">
          <use href="./images/icon-sprite.svg#iconLogo"></use>
        </svg>
        <span>Icecream</span>
      </a>
      <a href="#home" class="site-nav__item">Home</a>
      <a href="#about" class="site-nav__item">About us</a>
      <a href="#how_made" class="site-nav__item">How it’s made?</a>
      <a href="#products" class="site-nav__item">Our products</a>
      <a href="#contact" class="site-nav__item">Contact</a>
    </nav>
    <button type="button" data-modal-open>Buy now</button>
    <button type="button" class="menu-button">
      <svg class="menu-button__icon" width="20" height="12" aria-label="Открытие мобильного меню">
        <use href="./images/icon-sprite.svg#iconMenu-burger"></use>
      </svg>
    </button>
  </div>
</header>
<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button type="button" class="hero__button">Products</button>
    <button type="button" class="hero__button">How it’s made?</button>
  </div>
</section>
