<div class="backdrop is-hidden" data-modal-gallery>
  <div class="modal-gallery">
    <button type="button" class="modal-gallery__btn-close" data-modal-gallery-close>
      <svg class="modal-gallery__icon-close" height="18" width="18">
        <use href="./images/icon-sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="modal-gallery__box">
      <p class="modal-gallery__text">
        <span class="modal-gallery__text-accent"> WOW! You find coupon for 1 free ice cream!</span>
      </p>

      <p class="modal-gallery__promocode">Ice-cream-plz</p>
    </div>
  </div>
</div>
