<div class="backdrop is-hidden" data-modal-map>
  <div class="modal-map">
    <button type="button" class="modal-gallery__btn-close" data-modal-map-close>
      <svg class="modal-gallery__icon-close" height="18" width="18">
        <use href="./images/icon-sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="modal-map__outer-box">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4297.978492029359!2d-80.21916225801766!3d25.930184418745572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ae4f304730bb%3A0x599b19158b2da71e!2zMTMxMyBOVyAxNjd0aCBTdCwgTWlhbWksIEZMIDMzMTY5LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1634134568547!5m2!1sru!2sua"
        width="500"
        height="400"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        class="modal-map__box"
      ></iframe>
    </div>
  </div>
</div>
