<section class="products">
<div class="container">
    <span>100% natural</span>
<h2>products</h2>
<ul>
<li>
    <div>
        <img class=""
        srcset=" "

                src="../images/pruducts-icecream-1x-min.png" alt="ice cream">
        <h3>ice cream</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</li>

<li>
    <div>
        <img class=""
        srcset=""
        
        
                src="../images/pruducts-cofee-1x-min.png" alt="ice coffee">
        <h3>ice coffee</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</li>

<li>
    <div>
        <img class=""
        srcset=""
        
        src="../images/pruducts-shake-1x-min.png" alt="milkshakes">
        <h3>milkshakes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</li>

</ul>



</div>



</section>