
<section class="products__section">
    <div class="container">

        <p class="products__sub-title">100% natural</p>
        <h2 class="products__title">products</h2>
        <div class="products__wrappper">

        <div class="products__block">
            <div class="products__block-img-first"></div>
            <p class="products__block-title">ice cream</p>
            <p class="products__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="" class="products__block-link"></a>
        </div>
        
        <div class="products__block">
            <div class="products__block-img-second"></div>
            <p class="products__block-title">ice coffee</p>
            <p class="products__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="" class="products__block-link"></a>
        </div>

        <div class="products__block">
            <div class="products__block-img-third"></div>
            <p class="products__block-title">milkshakes</p>
            <p class="products__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="" class="products__block-link"></a>
        </div>
        
        </div>
    </div>
</section>

