// bg-color-main: #e5e5e5;                          - верхняя часть фона
// $bg-color-second: #fff5f6;                       - нижняя часть фона
// $shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);    - тень карточки
// $bg-color-contact-1: #f0d1a5;                    - фон хэдинга CAFE
// $bg-color-contact-2: #c2e297;                    - фон хэдинга FOOD TRUCK
// $text-color-contrast-dark: #000000;              - цвет текста черного
// $text-color-accent-light: #ffa5ba;               - цвет акцента розового


.contact-card__block{
    width: 220px;
    height: 427px;
    border-radius: 24px;
    box-shadow:0px 8px 30px rgba(212, 20, 67, 0.1); ;
    padding: 43px 20px;
    background: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    .contact-card__title{
        
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 8,45;
    letter-spacing: .04em;
    color: #ffffff;
    background-color: #f0d1a5;
    border-radius: 4px;
    }

    .contact__title{
     margin-bottom: 10px;
    text-align: left;
    font-weight: 500;
    letter-spacing: .04em;
    color: #000000;
    }

    .contact__text{
        margin: 0;
        line-height: 1.5;
        color: #907e82;
        margin-bottom: 25px;


    } 

}

.contact__list{

    margin-top: 25px;
    text-align: left;
    font-size: 12px;

    li{
        list-style: none;
    }

    .contact__days{
        color: #000000;
       
        
    }

    .contact__time{
        color: #ffa5ba;


    }

}

.contact-nav__list{
    margin-top: 25px;

    li{
        list-style: none;
    }
    .contact-nav__item{
        
        
        padding-bottom: 2px;
    padding-top: 2px;
    font-size: 12px;
    color: #907e82;


    }
    
}

.contact-button__list{
    flex-direction: column;
    align-items: center;
    
    .contact-btn__item{
        margin-bottom: 10px;
        
        
        
        .contact__btn{
            width: 161px;
            height: 44px;
            border-radius: 22px;
            background-color: #D41342;


    }  

    }

    
    

}