// $bg-color-second: #fff5f6;               - фон
// $text-color-accent-strong: #d41443;      - акцент, ховер иконок
// $text-color-accent-light: #ffa5ba;       - акцент. филл иконок
// $text-color-contrast-dark: #000000;     - цвет текста контакта
// $line-color-footer: #e1e1e1;            - цвет лини разделяющий All rights reserved

#footer {
  background-color: $bg-color-second;
}

.footer__container {
  width: 250px;

  @media screen and (min-width: 768px) {
    width: 350px;
  }

  @media screen and (min-width: 1200px) {
    width: auto;
  }

  margin-bottom: 43px;
}

.footer__text {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $text-color-accent-light;

  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    margin-bottom: 17px;
  }
}

.footer__text--accent {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $text-color-accent-strong;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}

.footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.social-links__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 46px;
}

.social-links__items {
  &:not(:last-child) {
    margin-right: 28px;
  }

  height: 34px;
}

.social-links__link {
  display: block;

  height: 32px;
  width: 32px;

  @media screen and (min-width: 768px) {
    height: 34px;
    width: 34px;
  }
}

.social-links__icon {
  fill: $text-color-contrast-light;
  background-color: $text-color-accent-light;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  @include transition1(background-color);

  &:hover,
  &:focus {
    background-color: $text-color-accent-strong;
  }
}

.contact__text {
  color: $text-color-contrast-dark;
  text-align: right;

  font-size: 12px;
  line-height: 1.86;
  font-weight: 700;

  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact__tel {
  color: $text-color-accent-strong;
}

.footer__rights {
  border-top: 1px solid $line-color-footer;

  padding-top: 22px;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.right__text {
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;

  @media screen and (min-width: 768px) {
    line-height: 1.87;
  }
}
