// $bg-color-hero: #ffb8ca;              - основной фон
// $bg-color-hero-second: #ffa5ba;       - круг за мороженкой
// $text-color-accent-strong: #D41443;   - акцент в тексте, цвет кнопок
// $text-color-contrast-light: #ffffff;  - абцац в десктопе + меню навигации
// $mobile-menu-bg-color: #e17992;       - бэкграунд мобильного меню
.page-header {
  background-color: $bg-color-hero;
  padding-top: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 38px;
  }
}

.main-nav {
  display: flex;
  &__item {
    display: flex;
    width: 100%;
    align-items: center;
  }
  &__button {
    display: none;
    @extend %button-arrow-light;
    border: none;
    max-width: 160px;
    margin-top: 0;
    margin-left: 30px;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 110px;
      position: relative;
      z-index: 3;
    }
  }
}

.menu-button {
  border: none;
  background-color: transparent;
  fill: $text-color-accent-strong;
  &:hover {
    fill: $bg-color-hero;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 3;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-family: Titan One;

  font-size: 26px;
  line-height: calc(30 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-color-accent-strong;
  margin-right: auto;
  &__icon {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
}

.menu-container {
  @media screen and (max-width: 1199px) {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    background-color: #e17992;
    overflow-y: scroll;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-open {
      transform: translateX(0);
    }
    &__button-close {
      display: block;
      background-color: transparent;
      border: none;
      margin-left: auto;
      padding: 0;
    }
  }

  &__button {
    border: none;
    width: 100%;
    margin-top: 23px;
    @extend %button-arrow-light;
  }
}
.menu-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 19px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.site-nav {
  display: block;
  width: 100%;
  margin-bottom: -22px;

  &__item {
    border-top: 1px solid #e18298;
    padding-right: 20px;
    padding-left: 20px;
    &:last-child {
      border-bottom: 1px solid #e18298;
    }
    @media screen and (min-width: 1200px) {
      border: none;
      padding: 0;
      margin-right: 35px;
      &:last-child {
        border: none;
      }
    }
  }
  &__link {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: #ffffff;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    :focus {
      color: $text-color-accent-strong;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: calc(21 / 16);
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    position: relative;
    z-index: 3;
  }
}
.is-active {
  color: $text-color-accent-strong;
}

.desctop-menu-wrapper {
  display: flex;
}

// -------------HERO---------------

.hero {
  background-color: $bg-color-hero;
  padding-top: 137px;
  padding-bottom: 160px;
  background-image: url('..//images/hero-icecream-1x-min.png'),
    radial-gradient(circle at center, $bg-color-hero-second 70%, transparent 70%);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: url('..//images/hero-icecream-2x-min.png'),
        radial-gradient(circle at center, $bg-color-hero-second 70%, transparent 70%);
    }
  }
  background-repeat: no-repeat;
  background-position: bottom 0 right 32px, bottom 75px right -62px;
  background-size: 171px 410px, 345px 345px;
  @media screen and (min-width: 768px) {
    position: relative;
    background-image: none;
    padding-top: 12px;
    padding-bottom: 28px;
    &::before {
      display: none;

      animation: zoomIn;
      animation-duration: 0.5s;

      @media screen and (min-width: 768px) {
        content: '';
        display: block;
        width: 324px;
        height: 322px;
        background-color: #ffa5ba;
        border-radius: 50%;
        position: absolute;
        bottom: 46px;
        left: 45%;
      }
      @media screen and (min-width: 1200px) {
        width: 538px;
        height: 538px;
        bottom: 75px;
        left: 40%;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: none;
    padding-top: 89px;
    padding-bottom: 45px;
  }

  &__title {
    font-family: Titan One;
    font-size: 26px;
    line-height: calc(26 / 30);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 19px;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: calc(25 / 22);
    }
    @media screen and (min-width: 1200px) {
      font-size: 38px;
      line-height: calc(44 / 38);
    }

    &--red {
      font-size: 48px;
      line-height: calc(46 / 48);
      text-transform: uppercase;
      color: $text-color-accent-strong;
      @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: calc(31 / 34);
      }
      @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: calc(52 / 58);
      }
    }
  }
  &__button {
    font-family: DM Sans;
    font-size: 8px;
    line-height: calc(10 / 8);
    border: none;
    padding: 7px 14px;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(18 / 14);
      padding: 12px 19px;
    }
  }
  &__button--dark {
    @extend %button-dark;
  }
  &__button--light {
    @extend %button-light;
  }
}
.hero-icecream-image {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 143px;
    height: 336px;
    bottom: 0;
    left: 53%;
  }
  @media screen and (min-width: 1200px) {
    width: 236px;
    height: 557px;
    left: 47%;
  }
}

.hero-girl-image {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 186px;
    height: 133px;
    bottom: 0;
    left: 74%;
  }
  @media screen and (min-width: 1200px) {
    width: 293px;
    height: 232px;
    left: 74%;
  }
}

.button-list {
  display: flex;
  margin-right: -8px;
  &__item {
    margin-right: 8px;
  }
}

.hero-content {
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    margin-bottom: 19px;
  }
  &__item {
    @media screen and (min-width: 1200px) {
      margin-left: 55px;
    }
  }
}

.outlets {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    margin-bottom: -13px;

    &__item {
      display: block;
      margin-bottom: 13px;
      position: relative;

      &--big {
        position: relative;
        z-index: 2;
        display: block;
        font-family: Titan One;
        font-size: 28px;
        line-height: calc(32 / 28);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $text-color-accent-strong;
        text-align: right;
        margin-left: auto;
        @media screen and (min-width: 1200px) {
          font-size: 46px;
          line-height: calc(53 / 46);
          margin-bottom: 2px;
        }
      }
      &--small {
        display: block;
        font-family: DM Sans;
        font-size: 8px;
        line-height: calc(10 / 8);
        color: #ffffff;
        text-align: right;
        @media screen and (min-width: 1200px) {
          font-size: 14px;
          line-height: calc(18 / 14);
        }
      }
    }
    &__description {
      padding-top: 2px;
      padding-right: 10px;
      width: 100%;
      height: 100%;
    }
    &__description::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      @media screen and (min-width: 1200px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.view-more {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
    &__description {
      padding-top: 47px;
      max-width: 114px;
      @media screen and (min-width: 1200px) {
        max-width: 200px;
      }
    }
    &__paragraph {
      font-family: DM Sans;
      font-size: 8px;
      line-height: calc(12 / 8);
      color: #ffffff;
      margin-bottom: 7px;
      @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(20 / 14);
      }
    }
    &__button {
      border: none;
      border-radius: 50%;
      width: 18px;
      height: 18px;
    }
    &__img {
      @media screen and (min-width: 768px) {
        width: 124px;
        height: 126px;
      }
      @media screen and (min-width: 1200px) {
        width: 188px;
        height: 191px;
      }
    }
  }
}
