// $bg-color-customer-review: #fafafa; - фон за текстом отзыва
// $text-color-contrast-dark: #000000; - цвет текста
// $text-color-accent-strong: #d41443; - цвет fill иконки прокрутки
// $bg-color-cust-review-quotes: #E1E1E1; - цвет кавычек (псевдоэлемента)

.slider {
}

.reviewer__photo {
  border-radius: 50%;
  overflow: hidden;
}

.reviewer__comment {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  color: $text-color-contrast-dark;
}
