// bg-color-main: #e5e5e5;                          - верхняя часть фона
// $bg-color-second: #fff5f6;                       - нижняя часть фона
// $shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);    - тень карточки
// $bg-color-contact-1: #f0d1a5;                    - фон хэдинга CAFE
// $bg-color-contact-2: #c2e297;                    - фон хэдинга FOOD TRUCK
// $text-color-contrast-dark: #000000;              - цвет текста черного
// $text-color-accent-light: #ffa5ba;               - цвет акцента розового

.contacts{
    background-color: $bg-color-second;

}
.contact-card__block{
    width: 220px;
    height: 427px;
    border-radius: 24px;
    box-shadow:0px 8px 30px rgba(212, 20, 67, 0.1); ;
    padding: 43px 20px;
    background: #ffffff;
    margin: 20px 30px;
    
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    .contact-card__title{
        
    padding-left: 25px;
    padding-right: 25px;
  //  margin-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 8,45;
    letter-spacing: .04em;
    color: #ffffff;
    
    border-radius: 4px;
    }
    .contname{
        background-color: #f0d1a5;
        width: max-content;
    }
   .contnamegreen{
       background-color: #C2E297;
       width: max-content;

   }

    .contact__title{
     margin-bottom: 10px;
    text-align: left;
    font-weight: 500;
    letter-spacing: .04em;
    color: #000000;
    }

    .contact__text{
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        color: #907e82;
        margin-bottom: 25px;
        text-align: left;
        padding-bottom: 25px;
        border-bottom: 1px solid #e1e1e1;


    } 

}

.contact__list{

   // margin-top: 25px;
    text-align: left;
    font-size: 12px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;

    .contact__item:not(:last-child){
        margin-bottom: 10px;

    }

    li{
        list-style: none;
    }

    .contact__days{
        color: #000000;
        margin: 0;
       
        
    }

    .contact__time{
        color: #ffa5ba;
        margin: 0;


    }

}

.contact-nav__list{
    margin-top: 25px;
    line-height: 18px;

    li{
        list-style: none;
    }
    
    .contact-nav__item{
        
        
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 12px;
    color: #907e82;


    }
    
}

.contact-button__list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .contact-btn__item{
        margin-bottom: 10px;
        
        
        
        .contact__btn-red{
            display: flex;
            align-items: center;
            justify-content: space-around;

            width: 161px;
            height: 44px;
            border-radius: 22px;

            background-color: #D41342;
            color: #ffffff;
            font-weight: 700;
            font-size: 16px;
            //line-height: 1,83px;
             border: none;

             cursor: pointer;
             transform: scale(1);
              transition: background-color .25s cubic-bezier(.4,0,.2,1),transform .25s cubic-bezier(.4,0,.2,1);


    }  
    .contact__btn-white{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 161px;
        height: 44px;
        border-radius: 22px;
        background-color: #ffffff;
        color: #D41342;
        font-weight: 700;
        font-size: 16px;
        line-height: 1,83px;
        border: none;
        cursor: pointer;
        transform: scale(1);
        transition: background-color .25s cubic-bezier(.4,0,.2,1),transform .25s cubic-bezier(.4,0,.2,1);


}  

    }

    
    

}