.advantages {
  background-color: $bg-color-second;
  padding-bottom: 20px;
  padding-left: -5px;
  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 139px;
    padding-left: -11px;
  }
}
.advantages__secondary-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  font-family: Titan One;
  font-style: normal;
  color: $text-color-accent-strong;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.15;
  }
}
.advantages__text {
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.7em;
  letter-spacing: 0.01em;
  color: $text-color-contrast-dark;
  max-width: 230px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74em;
    max-width: 180px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    max-width: 330px;
  }
}
.advantages__icon {
  fill: $text-color-accent-light;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
}
.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.advantages__item {
  &:not(:last-child) {
    margin-bottom: 38px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 60px;
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
