// bg-color-main: #e5e5e5;                          - верхняя часть фона
// $bg-color-second: #fff5f6;                       - нижняя часть фона
// $shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);    - тень карточки
// $bg-color-contact-1: #f0d1a5;                    - фон хэдинга CAFE
// $bg-color-contact-2: #c2e297;                    - фон хэдинга FOOD TRUCK
// $text-color-contrast-dark: #000000;              - цвет текста черного
// $text-color-accent-light: #ffa5ba;               - цвет акцента розового

.contacts {
  background-image: linear-gradient(180deg, #ffff 7%, #fff5f6 0);
  padding-bottom: 113px;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(180deg, #ffff 8%, #fff5f6 0);
    padding-bottom: 158px;
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(180deg, #ffff 9%, #fff5f6 0);
    padding-bottom: 165px;
  }
}
.contact__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contact__commoncard {
    margin-bottom: 53px;
    @media screen and (min-width: 768px) {
      margin-bottom: 81px;
      display: flex;
      flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 86px;
    }
  }
}
.contact-card__block {
  width: 220px;
  height: 427px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 43px 20px;
  background: #ffffff;
  margin: 20px 30px;
  @media screen and (min-width: 768px) {
    margin: 0 10px;
    height: 571px;
    padding: 50px 30px;
    &:hover,
    &:focus {
      box-shadow: 1px 2px 2px rgba(109, 94, 94, 0.12), 1px 4px 6px rgba(105, 89, 89, 0.16);
      cursor: pointer;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 330px;
    height: 572px;
    margin: 0 15px;
    &:hover,
    &:focus {
      box-shadow: 1px 2px 2px rgba(109, 94, 94, 0.12), 1px 4px 6px rgba(105, 89, 89, 0.16);
      cursor: pointer;
    }
  }

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  .contact-card__title {
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 8, 45;
    letter-spacing: 0.04em;
    color: #ffffff;

    border-radius: 4px;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 32px;
    }
  }
  .contname {
    background-color: #f0d1a5;
    width: max-content;
  }
  .contnamegreen {
    background-color: #c2e297;
    width: max-content;
  }

  .contact__title {
    margin-bottom: 10px;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #000000;

    @media screen and (min-width: 768px) {
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 26px;
    }
    @media screen and (min-width: 1200px) {
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  .contact__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: #907e82;
    margin-bottom: 25px;
    text-align: left;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
      padding-bottom: 30px;
      margin-bottom: 30px;
      line-height: 23px;
      font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 32px;
      margin-bottom: 32px;
      line-height: 29px;
      font-size: 16px;
    }
  }
}

.contact__list {
  text-align: left;
  font-size: 12px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 30px;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    .contact__item:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 1200px) {
    .contact__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  li {
    list-style: none;
  }

  .contact__days {
    color: #000000;
    margin: 0;
  }

  .contact__time {
    color: #ffa5ba;
    margin: 0;
  }
}

.contact-nav__list {
  line-height: 18px;
  padding-bottom: 43px;
  @media screen and (min-width: 768px) {
    line-height: 26px;
    padding-bottom: 50px;
  }
  li {
    list-style: none;
  }

  .contact-nav__item {
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 12px;
    color: #907e82;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      transform: scale(1);
      transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        cursor: pointer;
        color: #c2e297;
      }
      @media screen and (min-width: 1200px) {
        font-size: 16px;
      }
    }
  }
}

.contact-button__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .contact-btn__item {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-left: 15px;
      }
    }

    .contact__btn-red {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 161px;
      height: 44px;
      border-radius: 22px;
      @media screen and (min-width: 768px) {
        width: 191px;
        line-height: 4, 76px;
      }
      @media screen and (min-width: 1200px) {
        width: 198px;
        line-height: 4, 76px;
      }
      background-color: #d41342;
      color: #ffffff;
      fill: #ffffff;
      font-weight: 700;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transform: scale(1);
      transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: #f7174f;
      }
      .contact__icon {
        margin-left: 11px;
      }
    }

    .contact__btn-white {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;

      width: 161px;
      height: 44px;
      border-radius: 22px;

      @media screen and (min-width: 768px) {
        width: 191px;
        line-height: 4, 76px;
      }
      @media screen and (min-width: 1200px) {
        width: 198px;
        line-height: 4, 76px;
      }

      background-color: #ffffff;
      color: #d41342;
      font-weight: 700;
      font-size: 16px;
      line-height: 1, 83px;

      border: none;
      cursor: pointer;
      transform: scale(1);
      transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: #ecebeb;
      }
      .contact__icon {
        margin-left: 11px;
      }
    }
  }
}
