/* .box {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fafafa;
  background: repeating-linear-gradient(
    #fafafa,
    #fafafa 20px,
    #e1e1e1 20px,
    #e1e1e1 23px
  ); 

  width: 280px;
  height: 308px;
  padding: 43px 66px 26px 57px;
  box-sizing: border-box;
}

.box__text {
  font-weight: 500;
  font-style: normal;

  desktop 
  font-size: 12px;
  line-height: 2.55;

  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 2px;
  background-size: 100% 2px;
  background-image: linear-gradient(to top, #e1e1e1);
} */

/* // $bg-color-customer-review: #fafafa; - фон за текстом отзыва
// $text-color-contrast-dark: #000000; - цвет текста
// $text-color-accent-strong: #d41443; - цвет fill иконки прокрутки
// $bg-color-cust-review-quotes: #E1E1E1; - цвет кавычек (псевдоэлемента) */

.customer-reviews {
  padding-top: 80px;
  padding-bottom: 86px;
}

.reviewer {
  &__photo {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.6s ease;
  }
  &__comment {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 43px 66px 26px 57px;
    width: 280px;
    background-color: #fafafa;

    @media screen and(min-width: 768px) {
      width: 620px;
      padding: 47px 80px 34px 80px;
    }
    @media screen and(min-width: 1200px) {
      width: 926px;
      padding: 47px 89px 39px 89px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 61px;
      top: 28px;
      width: 54px;
      height: 40px;
      background-image: url(../images/quotation-marks.svg);
    }
  }
  &__text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    color: #000000;
    text-align: center;
    background-image: repeating-linear-gradient(#fafafa, #fafafa 27px, #e1e1e1 30px, #e1e1e1 25px);

    @media screen and(min-width: 768px) {
      font-size: 14px;
      line-height: 2.16;
    }
    @media screen and(min-width: 1200px) {
      font-size: 16px;
      line-height: 1.86;
    }
  }
  &__name {
    position: relative;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    margin-top: 50px;
    color: $text-color-contrast-dark;
    @media screen and(min-width: 768px) {
      font-size: 16px;
      line-height: 1.86;
    }
    @media screen and(min-width: 1200px) {
      font-size: 20px;
      line-height: 1.86;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      transform: translate(50%, 50%);
      right: 50%;
      top: -50%;
      width: 32px;
      height: 4px;
      background-image: url(../images/review-points.svg);
    }
  }
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  &.active {
    background-image: url(../images/home.svg);
    background-repeat: no-repeat;
    background-color: transparent;

    width: 12px;
    width: 12px;
    border-radius: 0;
    transition: background-color 0.6s ease;
  }
}

.slider-nav {
  text-align: center;
  margin-top: 30px;
}
