@mixin column-margin-top($margin-top-320, $margin-top-480, $margin-top-768, $margin-top-1200) {
  margin-top: $margin-top-320;

  @media screen and (min-width: 480px) {
    margin-top: $margin-top-480;
  }
  @media screen and (min-width: 768px) {
    margin-top: $margin-top-768;
  }
  @media screen and (min-width: 1200px) {
    margin-top: $margin-top-1200;
  }
}

.gallery {
  margin-bottom: 80px;

  background-image: linear-gradient(
    to bottom,
    $bg-color-second 40%,
    $bg-color-main 40%,
    $bg-color-main 60%
  );

  @media screen and (min-width: 768px) {
    margin-bottom: 121px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 123px;
  }
}

.gallery__title {
  @extend .visually-hidden;
}

.gallery__set {
  display: flex;
  justify-content: center;

  margin-top: -2px;
  @media screen and (min-width: 768px) {
    margin-top: -4px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: -8px;
  }
}

.gallery__column {
  &:not(:first-child) {
    margin-left: 2px;
    @media screen and (min-width: 768px) {
      margin-left: 4px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 8px;
    }
  }

  &:nth-child(1) {
    @include column-margin-top(40px, 61px, 87px, 142px);
  }

  &:nth-child(2) {
    @include column-margin-top(25px, 37px, 53px, 85px);
  }

  &:nth-child(4) {
    @include column-margin-top(28px, 42px, 60px, 100px);
  }

  &:nth-child(5) {
    @include column-margin-top(15px, 23px, 32px, 53px);
  }

  &:nth-child(6) {
    @include column-margin-top(44px, 67px, 95px, 153px);
  }
}

.gallery__img {
  display: block;

  margin-top: 2px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 60px;
    height: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 4px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 8px;
  }
  transform: scale(1);
  transition: transform 250ms ease-out;
}

.gallery__img--skale {
  &:hover,
  &:focus {
    transform: scale(0.9);
  }
}

.gallery__img--big {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 120px;
    height: 120px;
  }
}

.scene {
  perspective: 600px;
  width: 40px;
  height: 40px;

  @media screen and (min-width: 480px) {
    width: 60px;
    height: 60px;
  }
  @media screen and (min-width: 768px) {
    width: 85px;
    height: 85px;
  }
  @media screen and (min-width: 1200px) {
    width: 139px;
    height: 139px;
  }
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  // cursor: pointer;
  position: relative;

  & .gallery__img {
    margin-top: 0;
  }
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 10px;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;

  border-radius: 5px;
  @media screen and (min-width: 480px) {
    border-radius: 8px;
  }
  @media screen and (min-width: 768px) {
    border-radius: 10px;
  }
  @media screen and (min-width: 1200px) {
    border-radius: 15px;
  }
}

.card__face--back {
  transform: rotateY(180deg);
}

.scene:hover .card {
  transform: rotateY(180deg);
}

.gallery__btn {
  display: block;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  border: 0;
  background: linear-gradient(160deg, #00c4ff, #9d1bb2);

  cursor: pointer;
}

.gallery__card-text {
  display: none;

  color: $text-color-contrast-light;
  font-size: 10px;
  margin-bottom: 3px;

  @media screen and (min-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.gallery__icon {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;

  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
  }
  @media screen and (min-width: 1200px) {
    width: 80px;
    height: 80px;
  }
}
